/* Icons */
.btn-heart { position: absolute; right: 0; top: 8px; }

/* Font-sizes */
.f-26 { font-size: 26px !important; }
.f-18 { font-size: 18px !important; }
.f-16 { font-size: 16px !important; }
.f-13 { font-size: 13px !important; }
.f-11 { font-size: 11px !important; }

/* Font-weights */
.f-semibold { font-weight: 500 !important; }
.f-bold { font-weight: 700 !important; }

/* Borders */
.border-radius-bx { border-bottom-right-radius: 25px !important; border-bottom-left-radius: 25px !important; }
.border-radius-tx { border-top-left-radius: 50px !important; border-top-right-radius: 50px !important; }
.border-0 { border-radius: 0 !important; }
.border-top { border-top: 1px solid lightgrey; }
.border-bottom { border-bottom: 1px solid lightgrey; }
.border-radius-10 { border-radius:10px !important; }

/* Box shadow */
.box-shadow-none { box-shadow: none !important; }
.shadow-xs { box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12) !important; }
.shadow-sm { box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25) !important; }
.shadow-md { box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.19) !important; }

/* Colors */
.bg-primary { background-color: #ffb74b !important }
.bg-app { background-color: #fafafa !important; }
.color-primary { color: #ffb74b !important }
.color-white { color: #fff !important }
.color-disabled { color: #C9C9C9 !important; }

/* Margins */
.mt-negative-40 { margin-top: -40px; }

/* Positions */
.absolute { position: absolute }
.relative { position: relative; }
.fixed-bottom { position: fixed; bottom: 0; }

/* Z index */
.z-index-201 {
    z-index: 201 !important;
}

body, html {
    height: 100%;
    width: 100%;
  }