@import url('https://fonts.googleapis.com/css?family=Montserrat');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
}
body {
  font-family: 'Spartan', sans-serif !important;
}

.card-item__side {
  box-shadow: 0 14px 30px 0 rgb(74 76 78 / 55%) !important;
}


.material-form {
  margin-top: 50px;
}
.material-form .material-input-wrapper {
  position: relative;
  margin-bottom: 24px;
}
.material-form .material-input-wrapper .material-input {
  display: inline-block;
  padding: 32px 12px 16px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom: 1px solid rgba(0,0,0,0.6);
  font-size: 18px;
  color: rgba(0,0,0,0.87);
  width: 100%;
  max-width: 100%;
}
.material-form .material-input-wrapper .material-input:focus {
  outline: none;
  border-bottom: 2px solid #ffb74b;
}
.material-form .material-input-wrapper .material-input:focus::placeholder {
  transition: all 0.2s ease-in-out;
  transform: translateY(-30px);
  font-size: 14px;
  color: #ffb74b;
}
.material-form .material-input-wrapper .material-input:hover {
  cursor: pointer;
}
.material-form .material-input-wrapper .material-label {
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 12px;
  color: rgba(0,0,0,0.87);
}
.material-form-outlined .material-input-wrapper {
  position: relative;
  margin-bottom: 24px;
}
.material-form-outlined .material-input-wrapper .material-input-outlined {
  display: inline-block;
  padding: 16px 12px 16px;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,0.6);
  font-size: 18px;
  color: rgba(0,0,0,0.87);
  width: 100%;
  max-width: 100%;
}
.material-form-outlined .material-input-wrapper .material-input-outlined:focus {
  outline: none;
  border: 2px solid #ffb74b;
}
.material-form-outlined .material-input-wrapper .material-input-outlined:focus ~ .material-label-outlined {
  padding: 0 4px;
  transition: all 0.2s ease-in-out;
  top: -10px;
  background: #fafafa;
  font-size: 14px;
  color: #ffb74b;
}
.material-form-outlined .material-input-wrapper .material-input-outlined:hover {
  cursor: pointer;
}
.material-form-outlined .material-input-wrapper .material-label-outlined {
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 12px;
  pointer-events: none;
  color: rgba(0,0,0,0.5);
  transition: all 0.2s ease-in-out;
}
.material-form-outlined .material-input-wrapper .focused-label {
  padding: 0 4px;
  top: -10px;
  background: #fafafa;
  font-size: 14px;
  color: #ffb74b;
}
.material-form-extra .material-input-wrapper {
  position: relative;
  margin-bottom: 24px;
}
.material-form-extra .material-input-wrapper .material-input-extra {
  display: inline-block;
  padding: 16px 12px 16px;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,0.6);
  font-size: 18px;
  color: rgba(0,0,0,0.87);
  width: 100%;
  max-width: 100%;
}
.material-form-extra .material-input-wrapper .material-input-extra:focus {
  outline: none;
  border: 2px solid #ffb74b;
}
.material-form-extra .material-input-wrapper .material-input-extra:valid ~ .material-label-extra {
  padding: 0 4px;
  top: -10px;
  background: #fafafa;
  font-size: 14px;
  color: #00000061;
}
.material-form-extra .material-input-wrapper .material-input-extra:focus ~ .material-label-extra {
  padding: 0 4px;
  top: -10px;
  background: #fafafa;
  font-size: 14px;
  color: #ffb74b;
}
.material-form-extra .material-input-wrapper .material-input-extra:hover {
  cursor: pointer;
}
.material-form-extra .material-input-wrapper .material-label-extra {
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 12px;
  pointer-events: none;
  color: rgba(0,0,0,0.5);
  transition: all 0.2s ease-in-out;
}
