/* Botones filtros */
.theme--light.v-btn-toggle:not(.v-btn-toggle--group) .v-btn.v-btn {
    border-color: #FFB74F !important;
}
.theme--light.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
    background-color: #f4f4f480;
}
.v-btn:not(.v-btn--text):not(.v-btn--outlined):hover:before {
    opacity: 0;
}
.v-btn-toggle > .v-btn.v-btn--active {
    color: #000;    
    background-color: #FFB74F !important;
}

/* Texto dentro de card categorias */
.v-card__title.title-categorias {
    padding: 0px;
    font-size: 13px;
    margin-top: 57px;
    margin-left: 5px;
}
/* Margin bottom 0 en la ultima card de lista de locales */
.lista-locales.mb-4:last-child {
    margin-bottom: 0 !important;
}
/* Margin right 0 en la ultima card de promos principales */
.promos-principales.mr-4:first-child {
    margin-left: 12px !important;
}
.promos-principales.mr-4:last-child {
    margin-right: 12px !important;
}
/* Bug datepicker outline label */
.v-input .v-label {
    background-color: white;
}

/* Div de categorías con borders redondeados encima de foto del local */
.category-overlay {
    background: #fafafa;
    margin-top: -74px;
}

/* Gradient negro en la imagen principal de la carta */
.gradient-carta {
    height: 100%;
    background: linear-gradient(180deg, #00000000 0%, #000000 40%);
}